<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel='stylesheet' href="../public/stylesheets/index.css"/>
  </head>
  <body>
    <div id="page">
		<header class="header">
			<div class="logo-wrap">
				<h1>
					<span class="bloger-logo">空腹猫</span>
				</h1>
			</div>
			<div class="nav-wrap">
				<nav id="navbar" class="clearfix">
					<ul>
						<li><a>首页</a></li>
						<li><a>生活笔记</a></li>
						<li><a>技术杂谈</a></li>
						<li><a>关于博主</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="center">
			<div class="content-wrap">
				<article class="article">
					<header class="article-header">
						<h2>文章</h2>
					</header>
					<div class="article-img">
						<img/>
					</div>
					<div class="article-abstract">
						<span>Windows Internet Explorer 9（简称 IE9）于 2011 年 3 月 14 日发布.....</span>
					</div>
					<div class="article-info">
						<span>空腹猫</span>
						<span>2019-10-23 11:33</span>
						<span>0浏览</span>
					</div>
				</article>
				<article class="article">
					<header class="article-header">
						<h2>文章</h2>
					</header>
					<div class="article-img">
						<img/>
					</div>
					<div class="article-abstract">
						<span>
							这是系列文章的第一篇，也是非常重要的一篇，希望大家能读懂我想要表达的意思。 系列文章开篇概述 相对于其他编程语言来说，Python 生态中最突出的就是第三方库。任何一个及格的 Python 开发者都使用过至少 5 款第三方库。 就爬虫领域而言，必将用到的例如网络请求库 Reque
						</span>
					</div>
					<div class="article-info">
						<span>空腹猫</span>
						<span>2019-10-23 11:33</span>
						<span>0浏览</span>
					</div>
				</article>
				<article class="article">
					<header class="article-header">
						<h2>文章</h2>
					</header>
					<div class="article-img">
						<img/>
					</div>
					<div class="article-abstract">
						<span>Windows Internet Explorer 9（简称 IE9）于 2011 年 3 月 14 日发布.....</span>
					</div>
					<div class="article-info">
						<span>空腹猫</span>
						<span>2019-10-23 11:33</span>
						<span>0浏览</span>
					</div>
				</article>
			</div>
			<aside class="aside">
				<div class="widget-wrap">
					<div class="widget-header">
						<span>技术标签</span>
					</div>
					<div class="widget-tag">
						<span class="tag-item">Java</span>
						<span class="tag-item">C</span>
						<span class="tag-item">C++</span>
						<span class="tag-item">Python</span>
					</div>
				</div>
				<div class="widget-wrap">
					<div class="widget-header">
						<span>归档日期</span>
					</div>
					<div class="widget-date">
						<span class="date-item">2019年09月</span>
						<span class="date-item">2019年10月</span>
						<span class="date-item">2019年11月</span>
						<span class="date-item">2019年12月</span>
					</div>
				</div>
			</aside>
		</div>
		<footer class="footer">
			<span>空腹猫 版权所有</span>
		</footer>
	</div>
  </body>
</html>
